.form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 390px;
    position: fixed;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* top: 20%; */
    top: 18%;
    left: 25%;
    padding: 20px 0 30px 0;
    align-items: center;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.3);
    animation: slideAndExpand 0.6s ease-out forwards;
}
.sec{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    height: 390px;
    position: fixed;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* top: 20%; */
    top: 18%;
    left: 25%;
    padding: 20px 0 30px 0;
    align-items: center;
    box-shadow: 0 0 36px rgba(0, 0, 0, 0.3);
    animation: slideAndExpand 0.6s ease-out forwards;
}

@keyframes slideAndExpand {
    0%{
        transform: translateY(-100%) scaleX(0.8);
        opacity: 1;
    }
    30%{
        transform: translateY(50%) scaleX(0.8);
        opacity: 1;
    }
    60%{
        transform: translateY(-20%) scaleX(1.3);
        opacity: 1;
    }
    100%{
        transform: translateY(0%) scaleX(1);
        opacity: 1;
    }
}





.shake{
    animation: 0.2s BtnShake ease-out ;
    position: relative;
    top:0;
    left:0;
}


@keyframes BtnShake {
    0%{
        transform: translateX(-10%);
    }
    20%{
        transform: translateX(10%);
    }
    40%{
        transform: translateX(-10);
    }
   60%{
        transform: translateX(10%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0%);
    }
}
.close{
    /* font-size: 19px; */
    /* width: 30px;
    height: 50px; */
    /* background-color: #ccc; */
    /* border-radius: 50%;
    text-align: center;
    position: fixed;
    left: 250px; */
}
input[type="button"]{
    color:#000;
    background-color: #fff !important;
    border: #000 2px solid !important;
    width: 100px;
    height: 40px;   
    text-align: center;
    padding: 0;
    font-weight: 700;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #000 !important;
    color: #fff !important;
}
 
button[type="btn"]:hover{
    background-color: #000 !important;
    color: #fff !important;
}

button[type="btn"]{
    background-color:#fff !important;
    border-radius:10px !important;
    border:2px solid #000 !important;
    color:#000 !important;
    font-weight:600 !important;
    margin-left:0 ;
}

@media screen and (max-width:1000px) {
    .form{
        width: 70%;
        height: 370px;
        left: 15%;
    }
    .sec{
        width: 90%;
        height: 370px;
        left: 25%;
    }
    button[type="btn"]{
        width: 80px;
        height: 30px;   
        margin-left: 0;
    }
}